.header {
    display: flex;
    justify-content: space-between;
    background: #5e17eb;
    align-items: center;
    height: 8%;
    color: #fff;
    padding: 0px 12px;
    .cat-title {
        margin: 0;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.dialog-content {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    .category-detail {
        width: 70%;
        padding-right: 12px;
        .sub-categories {
            display: flex;
            align-items: center;
            .sub-cat {
                margin: 0;
                padding: 0;
                font-weight: 700;
            }
            margin-bottom: 1rem;
            .cat-item {
                background: #EBF3DE;
                align-items: center;
                font-weight: 700;
                border-radius: 4px;
                padding: 7px;
                display: inline-block;
                margin: 3px;
                .item-content{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    mat-icon {
                        margin-left: 8px;
                    }
                }
            }
        }
        .category-description {
            text-align: justify;
        }
        .companies {
            display: flex;
            flex-wrap: wrap;
            .company-logo {
                height: 3rem;
                width: 6rem;
                margin: 0.6rem;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .logo-placeholder {
                color: #fff; 
                font-size: 12px; 
                display: flex;
                justify-content: center;
                align-items: center;
                pointer-events: auto;
                .logo-title {
                  background-color: #007bff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-transform: uppercase;
                  border-radius: 5px;
                  height: 3rem;
                  width: 6rem;
                  margin: 0.6rem;
                  &:hover {
                    transform: scale(1.1);
                }
                }
                
               
              }
        }
    }
    .chart-side {
        width: 30%;
        .search-container {
            text-align: center;
        }
        .chart {
            .demo-chart {
                height: 250px;
              }
        }
    }
    
}

.table {
    table {
        width: 100%;
        margin: auto;
    }
    .mat-row {
        height: auto;
    }

    .mat-cell, .mat-header-cell {
        padding: 8px;
    }
    .company-name {
        color: #0170b9;
    }
}

.mat-header-cell {
    background: #efefef;
}

.category-content {
    margin: 0px!important;
    max-height: 92%!important;
}

// Mobile css

@media (max-width: 768px) {
    .category-content {
        max-height:100%;
        padding: 0 12px;
    }

    .dialog-content {
        flex-direction: column-reverse;
        .chart-side {
            width: 100%;
        }
        .category-detail {
            width: 100%;
            padding-right: 0px;
            .sub-categories{
                .cat-item {
                    width: 100%;
                }
            }
            .companies{
                justify-content: space-evenly;
                .company-logo{
                    width: 6.5rem;
                }
            }
        }
    }
    
}

